<%= form_for @place do |f| %>
<fieldset class="add-form">
    <% if @place.errors.any? %>
      <div>
        <h2>
          Please fix the following errors:
        </h2>
        <ul>
          <% @place.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-div">
      <%= f.label :location %><br>
      <%= f.text_field :location, placeholder: "Incline Village, NV", :maxlength => 30, :rows => 1, :cols => 30 %>
    </div>

    <div class="form-div">
      <%= f.label :price %><br>
      <%= f.number_field :price, placeholder: "200.00", :maxlength => 10, :rows => 1, :cols => 12%>
    </div>

    <div class="form-div">
      <%= f.label :dates_available%><br>
      <%= f.date_field :dates_available, placeholder: "YYYY/MM/DD", :maxlength => 10, :rows => 1, :cols => 12 %>
    </div>

    <div class="form-div">
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>
